* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-width: 100vh;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

.main-wrapper {
  width: 60%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: start;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  width: 50%;
}

.left-side img {
  height: 45rem;
}

.main-wrapper .right-side {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  width: 100%;
  background-color: #fff;
  padding: 1.3rem 0;
  border: 1px solid lightgrey;
}

.insta-logo {
  max-width: 15rem;
}

.group:nth-child(1) {
  min-height: 19rem;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
}

.profile-pic img {
  height: 10rem;
}

.insta-login {
  border-radius: 2px;
  color: #fff;
  border: 4px;
  background-color: #0095f6;
  padding: 10px;
  font-weight: bold;
}

.insta-logout {
  color: #0095f6;
  margin-top: 15px;
  font-weight: bold;
}

.not-account {
  color: rgb(160, 160, 160);
  font-weight: bold;
}

.not-person {
  margin: 20px 0 20px 0;
}

.not-account-name {
  margin-bottom: 5px;
  color: rgb(160, 160, 160);
  font-weight: bold;
}

.not-account p {
  margin: 30px;
}

.link-blue {
  color: #0095f6;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.download {
  width: 100%;
  display: flex;
  align-items: center;
  place-content: center;
}

.download img {
  width: 250px;
}

@media (max-width: 1024px) {
  .right-side {
    margin-left: 60px;
  }

  .download img {
    width: 150px;
  }
}
